.a_aimd7q {
    width: 154px;
}

.div_prqppb {
    margin-left: 30px;
}

.ul_ksesuz {
    letter-spacing: 0;
}

.a_b5qe3x {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_5ep6sl {
    font-weight: 500;
}

.a_zm5sac {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_h2yd0u {
    font-weight: 500;
}

.a_855y2r {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_701viq {
    font-weight: 500;
}

.a_dfomhe {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_cc7md1 {
    font-weight: 500;
}

.input_qhzglw {
    background: #F7F7F7;
}

.img_z7a3fm {
    padding-left: 1px;
}

.img_8rrdum {
    margin-top: 13px;
}

.a_gnbte7 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding: 14px;
}

.div_o9z2ah {
    top: 0;
    position: absolute;
    padding: 25px;
}

.div_eggox9 {
    margin-top: 25px;
    margin-right: 22px
}

.div_q9whqo {
    margin-top: 70px;
}

.li_ji7wis {
    margin-left: 19px;
}

.li_eqiucm {
    margin-left: 30px;
}

.img_vusiwe {
    margin-top: 13px;
}

.li_al009p {
    margin-left: 30px;
}

.li_wr815l {
    margin-left: 30px;
}

.li_todnro {
    margin-left: 30px;
}

.a_u0ym24 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding: 14px;
}

.ul_zwgq0z {
    margin-top: 30px;
}

.li_ko3s82 {
    border: none;
}

.a_d99cny {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_tr1l77 {
    font-weight: 500;
}

.li_ywpzh8 {
    border: none;
}

.a_3cgpxm {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_c5t2wg {
    font-weight: 500;
}

.li_lka7a9 {
    border: none;
}

.a_b70zm8 {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_zhao3d {
    font-weight: 500;
}

.li_ex9yx9 {
    border: none;
}

.a_qpoaqp {
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
}

.span_376j45 {
    font-weight: 500;
}

.li_vmxs2t {
    border: none;
    list-style: none;
    padding: 10px;
    justify-content: space-evenly;
    margin-top: auto;
}

.li_y3xwpz {
    border: none;
    list-style: none;
    padding: 20px;
}

.p_q7oycr {
    color: #717171;
    margin: auto;
    white-space: nowrap;
    font-size: 9px;
}

.h1_g29nbe {
    font-weight: 500;
}

.div_eu6gya {
    position: unset;
    background: none;
    box-shadow: none;
}

.input_erjdsx {
    background: #F7F7F7;
    font-size: 14px;
    border-color: transparent;
    color: #787878;
}

.h1_uzsvpc {
    font-weight: 400;
}

.h2_7267fp {
    float: left;
}

.h2_io1e0s {
    float: right;
    color: #007ABB;
    margin-top: 6px;

    font-weight: 500;
    font-size: 14px !important;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

.img_u9ttic {
    border-radius: 5px;
}

.a_uk7a3s {
    margin-top: 50px !important;
}

.img_s6n7ag {
    max-width: 69px;
    height: 33px;
    margin: 0 auto;
    margin-top: -12px
}

.a_ctv6kx {
    font-size: 14px;
    font-weight: 600;
}

.div_7qkpqa {
    margin-top: 5px;
    margin-bottom: 10px;
}

.img_99xbjl {
    border-radius: 5px;
}

.a_jek53q {
    margin-top: 50px !important;
}

.img_kjrxtm {
    width: 69px !important;
    height: 33px;
    margin: 0 auto;
    margin-top: -12px
}

.a_u0i2rg {
    font-size: 14px;
}

.div_zjf7ij {
    margin-top: 5px;
    margin-bottom: 10px;
}

.img_spejxp {
    border-radius: 5px;
}

.a_hekdxg {
    margin-top: 50px !important;
}

.img_bugnr1 {
    max-width: 69px;
    height: 33px;
    margin: 0 auto;
    margin-top: -12px;
}

.a_s843v3 {
    font-size: 14px;
}

.div_dw2jd6 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.img_4o7ssn {
    border-radius: 5px;
}

.a_38t7nh {
    margin-top: 50px !important;
}

.img_ja9cbk {
    max-width: 69px;
    height: 33px;
    margin: 0 auto;
    margin-top: -12px
}

.a_dmfqoo {
    font-size: 14px;
}

.div_t6wrkp {
    margin-top: 5px;
    margin-bottom: 10px;
}

.img_x6zt7l {
    border-radius: 5px;
}

.a_9rpgzc {
    margin-top: 50px !important;
}

.img_oelnhb {
    max-width: 69px;
    height: 33px;
    margin: 0 auto;
    margin-top: -12px
}

.a_bcszd {
    font-size: 14px;
}

.div_fovw9d {
    margin-top: 5px;
    margin-bottom: 10px;
}

.a_o8xtjv {
    color: #007ABB;
    background: white;
    border-color: white;
}

.img_pz2zxn {
    margin-top: 60px;
}

.div_duwby2 {
    margin-top: 20px;
}

.span_9hm32d {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

.div_5b8nqu {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.span_ab3v3g {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    width: 186.52px;
    height: 64.61px;
}

.img_8gqtbf {
    margin-top: 60px;
}

.div_p3u6r {
    margin-top: 20px;
}

.span_cbovn5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

.div_riabfy {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.span_bcebx5 {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    width: 186.52px;
    height: 64.61px;
}

.img_rs4bkl {
    margin-top: 60px;
}

.div_yffkzo {
    margin-top: 20px;
}

.span_yvfrgq {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

.div_aq1wd7 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.span_mh2b26 {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    width: 186.52px;
    height: 64.61px;
}

.img_thzrqy {
    margin-top: 60px;
}

.div_wh5ipt {
    margin-top: 20px;
}

.span_88d90q {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

.div_boztox {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.span_q7iqc4 {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    width: 186.52px;
    height: 64.61px;
}

.img_1lmt7z {
    margin-top: 60px;
}

.div_ex2wmy {
    margin-top: 20px;
}

.span_nuxsai {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

.div_8fn28f {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.span_281pxj {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    width: 186.52px;
    height: 64.61px;
}

.h2_p3aggy {
    float: left;
}

.h2_cxjma3 {
    float: right;
    color: #007ABB;
    margin-top: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

.div_sw5kup {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_zv1lu7 {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.img_yydtz3 {
    height: 204px;
}

.i_j3909u {
    margin-top: -100px;
}

.a_hpcp1e {
    color: white;
    margin-top: -40px;
    margin-left: -10px;
}

.a_t24ult {
    font-size: 14px;
}

.div_hyl23b {
    margin-top: -2px;
}

.div_7v30ap {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_2oejdy {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.img_28uelu {
    height: 204px;
}

.i_ljoq5c {
    margin-top: -100px;
}

.a_cm9grr {
    color: white;
    margin-top: -40px;
    margin-left: -10px;
}

.a_1co3p6 {
    font-size: 14px;
}

.div_cnr7ed {
    margin-top: -2px;
}

.div_pl58g0 {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_jwt9nv {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.img_wmdl71 {
    height: 204px;
}

.i_3mo1w4 {
    margin-top: -100px;
}

.a_o31l90 {
    color: white;
    margin-top: -40px;
    margin-left: -10px;
}

.a_x9kxm2 {
    font-size: 14px;
}

.div_xrwrh2 {
    margin-top: -2px;
}

.div_vt0h3i {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_b7azlg {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.img_vf6w6n {
    height: 204px;
}

.i_mcj2ey {
    margin-top: 0px;
}

.a_kef9ah {
    color: white;
    margin-top: -40px;
    margin-left: -10px;
}

.a_yktya {
    font-size: 14px;
}

.div_2gb3ge {
    margin-top: -2px;
}

.div_lyst3l {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_61m10r {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.img_x4b73w {
    height: 204px;
}

.i_sci13o {
    margin-top: -100px;
}

.a_igkcqn {
    color: white;
    margin-top: -40px;
    margin-left: -10px;
}

.a_6i554r {
    font-size: 14px;
}

.div_qn7bia {
    margin-top: -2px;
}

.a_zy7dnt {
    color: #007ABB;
    background: white;
    border-color: white;
}

.h2_fwcjux {
    float: left;
}

.h2_8sxu0n {
    float: right;
    color: #007ABB;
    margin-top: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

.div_g4g8ic {
    border: 1px solid #E8E8E8;
}

.a_61txho {
    font-size: 14px;
}

.div_lrw5si {
    border: 1px solid #E8E8E8;
}

.a_v29n38 {
    font-size: 14px;
}

.div_5j95xk {
    border: 1px solid #E8E8E8;
}

.img_325pep {
    height: 197px;
}

.a_xew2z {
    font-size: 14px;
}

.div_ll0r3n {
    border: 1px solid #E8E8E8;
}

.img_co2b73 {
    height: 197px;
}

.a_lcfki7 {
    font-size: 14px;
}

.div_zxi2v {
    border: 1px solid #E8E8E8;
}

.img_qjbwo3 {
    height: 197px;
}

.a_o2ftig {
    font-size: 14px;
}

.a_ekllws {
    color: #007ABB;
    background: white;
    border-color: white;
}

.h2_bo12hr {
    float: left;
}

.h2_r9fzzv {
    float: right;
    color: #007ABB;
    margin-top: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

.div_21j57g {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_rkb1s {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.a_zff5b1 {
    font-size: 14px;
}

.div_fupn4y {
    margin-top: -2px;
}

.div_ntxkow {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_poj63p {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.a_dc65xi {
    font-size: 14px;
}

.div_l3ewct {
    margin-top: -2px;
}

.div_yqfd8e {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_au5zcp {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.a_dmzjnt {
    font-size: 14px;
}

.div_itgoss {
    margin-top: -2px;
}

.div_gbj0x5 {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_f7l85f {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.a_7ixp2j {
    font-size: 14px;
}

.div_k67mai {
    margin-top: -2px;
}

.div_znbtc0 {
    border: 1px solid #E8E8E8;
    height: 204px;
}

.img_ffz0wn {
    max-width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}

.a_ebb2fj {
    font-size: 14px;
}

.div_aa0iif {
    margin-top: -2px;
}

.a_lp84hd {
    color: #007ABB;
    background: white;
    border-color: white;
}

.section_8axb4n {
    background: #fff;
}

.h2_otkss5 {
    float: left;
}

.h2_wjig49 {
    float: right;
    color: #007ABB;
    margin-top: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

.img_msvxb0 {
    padding: 12px;
}

.img_gd9bz4 {
    padding: 12px;
}

.img_v9ggl {
    padding: 12px;
}

.img_o14dqq {
    padding: 12px;
}

.img_fbsxy {
    padding: 12px;
}

.img_lqzgcn {
    padding: 12px;
}

.img_pxl39x {
    padding: 12px;
}

.img_mvw3lu {
    padding: 12px;
}

.a_g015op {
    color: #007ABB;
    background: white;
    border-color: white;
}

.section_9omfb6 {
    background: #F8F8F8;
    margin-top: 50px;
    padding-bottom: 50px;
}

.h2_6q8od {
    float: left;
}

.ul_jrkjha {
    display: block;
}

.a_41xate {
    color: #545454;
}

.a_nbcwya {
    color: #545454;
}

.a_47c8ti {
    color: #545454;
}

.a_hqvm0r {
    color: #545454;
}

.a_dodsj6 {
    color: #545454;
}

.a_e53r2h {
    color: #545454;
}

.ul_ameo1c {
    display: block;
}

.a_y26r4j {
    color: #545454;
}

.a_ajnyn {
    color: #545454;
}

.a_k2gjje {
    color: #545454;
}

.a_5oubr4 {
    color: #545454;
}

.a_bdr5xx {
    color: #545454;
}

.a_9bwuux {
    color: #545454;
}

.a_a996f6 {
    color: #007ABB;
    background: #f8f8f8;
    border-color: #f8f8f8;
}

.div_bkacro {
    border: none;
    margin-top: 0px;
}

.h2_67ex7q {
    float: left;
}

.h2_f51bpo {
    float: right;
    color: #007ABB;
    margin-top: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

.div_3djkje {
    display: flex;
    border: 1px dashed #D0D0D0;
    border-radius: 5px;
}

.img_1mw6s4 {
    padding: 10px;
}

.div_9whxrr {
    margin-left: 12px;
    margin-top: 20px;
}


.h3_y4o5ci {
    font-size: 13px;
}

.span_3fhtfb {
    font-size: 10px;
}

.div_tril3z {
    display: flex;
    border: 1px dashed #D0D0D0;
    border-radius: 5px;
}

.img_hibopg {
    padding: 10px;
}

.div_hb3fn {
    margin-left: 12px;
    margin-top: 20px;
}

.img_1sw6ci {
    width: 45px;
    height: 34px;
}

.h3_yqqx1q {
    font-size: 13px;
}

.span_ibiobz {
    font-size: 10px;
}

.div_1w7dsh {
    display: flex;
    border: 1px dashed #D0D0D0;
    border-radius: 5px;
}

.img_rbqjm8 {
    padding: 10px;
}

.div_aou20y {
    margin-left: 12px;
    margin-top: 20px;
}

.img_4wgk2k {
    width: 45px;
    height: 34px;
}

.h3_7t2a3w {
    font-size: 13px;
}

.span_7v5ebd {
    font-size: 10px;
}

.div_1ui00k {
    display: flex;
    border: 1px dashed #D0D0D0;
    border-radius: 5px;
}

.img_bwrcf0 {
    padding: 10px;
}

.div_2e30os {
    margin-left: 12px;
    margin-top: 20px;
}

.img_rs9f0e {
    width: 45px;
    height: 34px;
}

.h3_yvklxv {
    font-size: 13px;
}

.span_uqfn35 {
    font-size: 10px;
}

.a_a64n9j {
    color: #007ABB;
    background: white;
    border-color: white;
}

.span_gftdgc {
    margin-top: 35px;
}

.section_pbrcnh {
    background: #F8F8F8;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.h2_yhnkej {
    float: left;
}

.h2_aht3gn {
    float: right;
    font-size: 14px;
    margin-left: 60px;
}

.h2_k3k4a9 {
    float: right;
    font-size: 14px;
    margin-left: 60px;
}

.h2_bv785x {
    float: right;
    color: #007ABB;
    font-size: 14px;
    margin-left: 10px;
}

.h2_uy404t {
    float: right;
    font-size: 14px;
    margin-left: 40px;
}

.section_q2vymy {
    background: #fff;
    padding-bottom: 50px;
    padding-top: 24px;
}

.div_j18kep {
    position: unset;
    background: none;
    box-shadow: none;
}

.div_xgmv7r {
    margin-left: 0px;
    display: block;
}

.div_k6ou7a {
    position: unset;
    background: none;
    box-shadow: none;
}

.div_kdhdcb {
    margin-left: 0px;
    display: block;
}


.div_zupb0j {
    margin-left: 0px;
    width: 94%;
    display: block;
}

.input_6kde06 {
    background: #F7F7F7;
    color: #787878;
    font-size: 14px;
    border-color: transparent;
}

.div_lauulc {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_vistfv {
    border-radius: 5px;
}

.a_h2wh8b {
    margin-top: 50px !important;
}

.img_ls4hdo {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_nhrbq2 {
    font-size: 14px;
}

.div_9c9yn8 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_kpniu2 {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_ddo7zi {
    border-radius: 5px;
}

.a_m545a9 {
    margin-top: 50px !important;
}

.img_5gn7l5 {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_xnow13 {
    font-size: 14px;
}

.div_rwlzoi {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_atxwo1 {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_jmrzpu {
    border-radius: 5px;
}

.a_4ia9ea {
    margin-top: 50px !important;
}

.img_f7ld6 {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_oaphp5 {
    font-size: 14px;
}

.div_kttwan {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_11u7yl {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_46076g {
    border-radius: 5px;
}

.a_njvf3w {
    margin-top: 50px !important;
}

.img_ty538i {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_2le0zj {
    font-size: 14px;
}

.div_oha82v {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_lcfio6 {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_gh7mkp {
    border-radius: 5px;
}

.a_xim5jy {
    margin-top: 50px !important;
}

.img_qsvblv {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_7o57bt {
    font-size: 14px;
}

.div_5fv0ms {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_f6nzdh {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_h68ri {
    border-radius: 5px;
}

.a_cbfh0u {
    margin-top: 50px !important;
}

.img_8412cq {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_9ol96f {
    font-size: 14px;
}

.div_z4pk5z {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_fqgxe2 {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_1s5uib {
    border-radius: 5px;
}

.a_ixi4cp {
    margin-top: 50px !important;
}

.img_k5ld0w {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_d2o9v4 {
    font-size: 14px;
}

.div_5h9sr0 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_7ebcxx {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_sqxg5q {
    border-radius: 5px;
}

.a_twnoez {
    margin-top: 50px !important;
}

.img_k950pl {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_tgop5g {
    font-size: 14px;
}

.div_fawf5 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_4vk90g {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_dhvsbt {
    border-radius: 5px;
}

.a_udup1m {
    margin-top: 50px !important;
}

.img_ihupi0 {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_r9p4ao {
    font-size: 14px;
}

.div_qzl3sk {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_jjfqtq {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_m9vh21 {
    border-radius: 5px;
}

.a_fexx9p {
    margin-top: 50px !important;
}

.img_8e1l29 {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_uwr6gg {
    font-size: 14px;
}

.div_zcxyx3 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_kzuk6s {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_xhgdqx {
    border-radius: 5px;
}

.a_hqka7l {
    margin-top: 50px !important;
}

.img_ysi6a {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_nbp6dv {
    font-size: 14px;
}

.div_ypzt7x {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_q6hqg8 {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_lhkfb7 {
    border-radius: 5px;
}

.a_gnycfp {
    margin-top: 50px !important;
}

.img_i3abho {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_683xyh {
    font-size: 14px;
}

.div_q37j33 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_980lli {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_3imljq {
    border-radius: 5px;
}

.a_mtmgzk {
    margin-top: 50px !important;
}

.img_q1nmsu {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_n4isgx {
    font-size: 14px;
}

.div_lr70q {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_6kasin {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_pi6dg8 {
    border-radius: 5px;
}

.a_p235u9 {
    margin-top: 50px !important;
}

.img_zzq3sj {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_qpsrvl {
    font-size: 14px;
}

.div_jokoi2 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_vvvd8q {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_wogp66 {
    border-radius: 5px;
}

.a_flnw2t {
    margin-top: 50px !important;
}

.img_slroi4 {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_zl879y {
    font-size: 14px;
}

.div_uby2i7 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_1pk8m8 {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_pve9bz {
    border-radius: 5px;
}

.a_n7gdmr {
    margin-top: 50px !important;
}

.img_6nkr8s {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_ozs8ac {
    font-size: 14px;
}

.div_jkel9l {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_3jhme {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_lbn941 {
    border-radius: 5px;
}

.a_v6wafg {
    margin-top: 50px !important;
}

.img_rp35s7 {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_spwx2h {
    font-size: 14px;
}

.div_4h9w5p {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_xn2hwh {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_xzpyjr {
    border-radius: 5px;
}

.a_cl5yns {
    margin-top: 50px !important;
}

.img_zlupsd {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_9jhn9q {
    font-size: 14px;
}

.div_dcqv8 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_uvyjpc {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_wo9h7s {
    border-radius: 5px;
}

.a_eqinjm {
    margin-top: 50px !important;
}

.img_fitun6 {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_5yxu0o {
    font-size: 14px;
}

.div_cc8v6l {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_b3wl6y {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_mex1ee {
    border-radius: 5px;
}

.a_pdffv5 {
    margin-top: 50px !important;
}

.img_d02jaa {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_jxxrid {
    font-size: 14px;
}

.div_tu9qhv {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_f19xmz {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_2u62vk {
    border-radius: 5px;
}

.a_quxqjs {
    margin-top: 50px !important;
}

.img_b7selx {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_j4qbms {
    font-size: 14px;
}

.div_ckl0a1 {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_d7taf4 {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_hnh5zm {
    border-radius: 5px;
}

.a_8l57b4 {
    margin-top: 50px !important;
}

.img_jhuwhg {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_9bj51r {
    font-size: 14px;
}

.div_5aq2rt {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_hbz1av {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_82ddq4 {
    border-radius: 5px;
}

.a_keq35 {
    margin-top: 50px !important;
}

.img_71ucr {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_c3c5m2 {
    font-size: 14px;
}

.div_bdc2ut {
    margin-top: -2px;
    margin-bottom: 10px;
}

.div_qk9hcc {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 7px;
    margin-top: 30px;
    margin-right: 7px;
}

.img_wd0tr7 {
    border-radius: 5px;
}

.a_jh9at8 {
    margin-top: 50px !important;
}

.img_gvte2u {
    width: 69px;
    height: 33px;
    margin: 0 auto;
}

.a_21ix2k {
    font-size: 14px;
}

.div_4gybyb {
    margin-top: -2px;
    margin-bottom: 10px;
}

.a_g5iahg {
    color: #007ABB;
    background: white;
    border-color: white;
}

.section_oila27 {
    padding-bottom: 50px;
}

.h2_vpfewn {
    float: left;
}

.h2_z8fa18 {
    margin-top: 50px;
}

.h2_tsdovv {
    float: right;
    color: #007ABB;
    margin-top: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    text-align: center;
}

.div_3id9cs {
    margin-top: -2px;
}

.a_8okvwe {
    font-size: 14px;
}

.div_j090ik {
    margin-top: 10px;
}

.span_doglm7 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.div_d2ow2 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #007ABB;
    display: none;
}

.div_viohap {
    margin-top: -2px;
}

.a_yof29j {
    font-size: 14px;
}

.div_4vne6y {
    margin-top: 10px;
}

.span_ey87hq {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.div_hjtkzq {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #007ABB;
    display: none;
}

.div_ydsub0 {
    margin-top: -2px;
}

.a_wdu00n {
    font-size: 14px;
}

.div_3b1umi {
    margin-top: 10px;
}

.span_5tcfdi {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.div_71j201 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #007ABB;
    display: none;
}

.div_yzuz5g {
    margin-top: -2px;
}

.a_dydnob {
    font-size: 14px;
}

.div_zru3cg {
    margin-top: 10px;
}

.span_q2d6nx {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.div_wncoze {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #007ABB;
    display: none;
}

.div_d7h1f8 {
    margin-top: -2px;
}

.a_meumfh {
    font-size: 14px;
}

.div_a4etkp {
    margin-top: 10px;
}

.span_cabknz {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.div_6qqe25 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #007ABB;
}

.a_homzsp {
    color: #007ABB;
    background: white;
    border-color: white;
}

.section_zc13an {
    background: #F8F8F8;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.h2_lw08vi {
    float: left;
    border-bottom: 2px solid #0077c1;
    padding-bottom: 10px;
}

.span_skdvcr {
    padding-left: 0;
}

.h3_uprsnb {
    margin-left: 84px;
    margin-top: -45px;
    font-weight: 500;
}

.span_46cqzj {
    margin-left: 64px;
    margin-top: 0px;
    padding-bottom: 11px;
    font-weight: 300;
    font-style: normal;
}

.h3_rfr312 {
    margin-left: 84px;
    margin-top: -45px;
    font-weight: 500;
}

.span_mdhxo6 {
    margin-left: 64px;
    margin-top: 0px;
    padding-bottom: 11px;
    font-weight: 300;
    font-style: normal;
}

.h3_imxtp8 {
    margin-left: 84px;
    margin-top: -45px;
    font-weight: 500;
}

.span_7vauy0 {
    margin-left: 64px;
    margin-top: 0px;
    padding-bottom: 11px;
    font-weight: 300;
    font-style: normal;
}

.section_jhcr19 {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.div_db2b8n {
    margin-right: 0px;
}

.img_74a672 {
    border-radius: 5px;
}

.img_hadxdm {
    position: absolute;
}

.span_geepny {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_17fop3 {
    position: relative;
}

.span_47c0a9 {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_m8k4a {
    font-size: 18px;
}

.p_5gp2d6 {
    font-size: 10px;
}

.p_mv08b8 {
    font-size: 10px;
}

.div_828je9 {
    margin-right: 0px;
}

.img_ghar88 {
    position: absolute;
}

.span_tn8h4r {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_3ouk4y {
    position: relative;
}

.span_8x7bwm {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_3vg2ok {
    font-size: 18px;
}

.p_bjprnb {
    font-size: 10px;
}

.p_ahnznt {
    font-size: 10px;
}

.img_7tnry5 {
    border-radius: 5px;
}

.div_djlirb {
    margin-right: 0px;
}

.img_fy5q3f {
    border-radius: 5px;
}

.img_hw9w8p {
    position: absolute;
}

.span_ekyhtu {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_spty5b {
    position: relative;
}

.span_jn5fvz {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_cue6im {
    font-size: 18px;
}

.p_g9ctrc {
    font-size: 10px;
}

.p_uwpwa7 {
    font-size: 10px;
}

.div_ay40v4 {
    margin-right: 0px;
}

.img_cxbcbp {
    position: absolute;
}

.span_q2gb3m {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_s4pvcp {
    position: relative;
}

.span_teta81 {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_3ijs6k {
    font-size: 18px;
}

.p_6eb385 {
    font-size: 10px;
}

.p_dsxs9a {
    font-size: 10px;
}

.img_ace1xt {
    border-radius: 5px;
}

.section_bnbwfx {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.div_gl5p64 {
    margin-right: 0px;
}

.img_44zeti {
    border-radius: 5px;
}

.img_ro3wz4 {
    position: absolute;
}

.span_bxz50o {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_xboewg {
    position: relative;
}

.span_bh2jkv {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_7mob0c {
    font-size: 18px;
}

.p_s4lovy {
    font-size: 10px;
}

.p_wjq3d3 {
    font-size: 10px;
}

.div_lvm1m7 {
    margin-top: 20px;
}

.img_c01pkh {
    border-radius: 5px;
}

.img_ziuv6j {
    position: absolute;
}

.span_xwjpdm {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_3nlq6n {
    position: relative;
}

.span_lcdkuw {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_263fut {
    font-size: 18px;
}

.p_dpgsb4 {
    font-size: 10px;
}

.p_h1xd7n {
    font-size: 10px;
}

.div_dxmvy9 {
    margin-top: 20px;
}

.img_2gjyuo {
    border-radius: 5px;
}

.img_kk5goc {
    position: absolute;
}

.span_gdp7dh {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_3jeh0z {
    position: relative;
}

.span_dsq1vy {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_bvl51x {
    font-size: 18px;
}

.p_x3wytv {
    font-size: 10px;
}

.p_lgdqn6 {
    font-size: 10px;
}

.div_yvc29g {
    margin-top: 20px;
}

.img_87tsaa {
    border-radius: 5px;
}

.img_6ldjra {
    position: absolute;
}

.span_8okvxu {
    color: #007ABB;
    font-weight: 600;
    position: relative;
}

.h2_5qen5o {
    position: relative;
}

.span_hwcucv {
    width: 50px;
    color: #007ABB;
    border: 1px solid;
    vertical-align: middle;
    width: 35px;
}

.h3_2picsc {
    font-size: 18px;
}

.p_13nmun {
    font-size: 10px;
}

.p_of3wd1 {
    font-size: 10px;
}

.section_hkkx89 {
    padding-bottom: 80px;
}

.h2_51ko79 {
    text-align: center;
    margin-bottom: 0px;
}

.span_a2363d {
    border-bottom: 2px solid #007ABB;
    margin-bottom: 5px;
    width: 40px;
    text-align: center;
}

.div_6d8h4y {
    padding-left: 0px;
}

.img_kkjo9t {
    float: right;
    margin-top: 6px;
    margin-left: auto;
}

.img_kjldbj {
    float: right;
    margin-top: 6px;
}

.img_nb16zf {
    float: right;
    margin-top: 6px;
}

.img_ubbi2d {
    float: right;
    margin-top: 6px;
}

.img_742syt {
    margin-top: 10px;
}

.div_99kwqe {
    margin-top: 20px;
}

.span_7tp37v {
    font-size: 12px;
    margin-top: 10px;
}

.a_q2wev {
    color: #007ABB;
    background: #f9f9f9;
    border-color: #0077c1;
}

.img_d84s9f {
    padding: 30px;
}

.span_e1ev7y {
    color: #7E7E7E;
}

.span_93fdwp {
    font-size: 18px;
    color: #000;
}

.img_vz0l82 {
    width: 50px;
    height: 50px;
    margin-right: 60px;
    margin-top: 20px;
}

.div_4eo5a4 {
    width: 100%;
}

.input_mpjzn {
    height: 50px;
    background: #FAFAFA;
    font-family: FontAwesome, Arial;
    font-style: normal
}

.button_eantle {
    background: #FF6600;
    border-radius: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 40px !important;
}

.button_w3i2j9 {
    background: #FF6600;
    border-radius: 60px;
    margin-left: 201px;
    margin-top: -45px;
    height: 40px;
    white-space: nowrap;
}

.section_wjhww4 {
    background: #F8F8F8;
}

.div_y9n0mu {
    border: none;
    margin-top: 0px;
}

.span_8d4tm3 {
    color: #333;
}

.span_bt8y4a {
    color: #333;
}

.span_7zfgen {
    color: #333;
}

.span_ft9kc0 {
    color: #333;
}

.span_twbjlz {
    color: #333;
}

.ul_gwhz17 {
    margin-bottom: 40px;
    margin-top: 30px;
}

.ul_cebcds {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0
}

.li_zjlfsl {
    padding: 20px;
}

.li_uu01f4 {
    padding: 20px;
}

.li_8m1kmc {
    padding: 20px;
}

.li_dp227z {
    padding: 20px;
}

.li_uo9q8y {
    padding: 20px;
}

.li_tdel4g {
    padding: 20px;
}

.li_u6mjq3 {
    padding: 20px;
}

.p_gi5idp {
    color: #717171;
    margin: auto;
}


.w-c-q-icn {
    height: 40;
}

.display-block:hover {
    color: white;
}

.pro-icn:hover > .display-block {
    margin: 0px !important;
    display: block;
}

.image_container {
    position: relative;
    background: #000;
    border-radius: 5px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: .1s ease;
    backface-visibility: hidden;
}

.image_container:hover .image {
    opacity: 0.4;
    background-color: black;
}

.w-set:hover .image {
    opacity: 0.4;
    background-color: black;
    border-radius: 5px;
}

.w-set:hover .display-block {
    display: block;
}

.happy_hover:hover .image {
    opacity: 0.4;
    background-color: black;
}

.happy_hover:hover .display-block {
    display: block;
}

.happy_hover:hover {
    box-shadow: 0px 21px 45px rgba(0, 0, 0, 0.12);
}

.hevy {

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 31px;
    text-align: center;
    color: #007ABB;
    margin-left: 22px;
    margin-top: 20px;

}


.image_container_s {
    position: relative;
}

.image_s {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: .1s ease;
    backface-visibility: hidden;
}

.image_container_s:hover .image_s {
    opacity: 0.4;
    background-color: black;
}

.hover_eff:hover .image_s {

    opacity: 0.4;
}

.hover_eff:hover .hover_eff_readmore {
    display: block !important;
}

.hover_eff:hover .hover_eff_title {
    color: #007ABB !important;
}


.image_containers {
    position: relative;
}

.images {
    display: block;
    width: 100%;
    height: auto;
}

.overlays {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #007ABB;
}

.image_containers:hover .overlays {
    opacity: 1;
}

.texts {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.set_eff_hovers:hover .bold_hover_eff {
    font-weight: 500 !important;
}

.bnt_set {
    position: relative !important;
}

.w-c-q-icn > .fa-search {
    margin-top: 0px;
}

.f-link-ul-li > a {
    font-weight: 400;
}

/*.different .active{*/
/*  width: 280px!important;*/
/*}*/
/*.different .owl-stage{*/
/*  width: 100%!important;*/
/*  justify-content: space-evenly;*/
/*  display: flex;*/
/*}*/


@media only screen and (min-width: 1360px) {

    .faq-ul {
        width: 50% !important;
    }

    .faq-box {
        flex-direction: row !important;
    }

    .faq-li {
        display: flex !important;
        padding-top: 0px !important;

    }

    .faq-li > span.hevy {
        min-width: 109px;
    }

    .faq-ul.rev-margin {
        margin-top: 0px !important;
    }

    .faq-li > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .faq-li > div > span {
        padding-bottom: 0px;
    }
}

.span_skdvcr {
    padding-left: 0px !important;
    font-weight: 400;
}

.different .tab-caption > img {
    max-width: 45px;
}

.first-product .pro-icn > a:not(.btn-cart) {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4%;
    right: 4%;

}

.first-product .pro-icn > a:not(.btn-cart) > i {
    top: 0px !important;
    margin-left: 0px !important;
}

@media (max-width: 768px) {
    .header-main-area .header-main .header-element.right-block-box ul.shop-element li.nav-toggler {
        margin-left: 5% !important;
    }

    .esd .w-set {
        padding: 8px;
        padding-bottom: 0px;
        border: 1px solid #E8E8E8;
    }

    .esd .text-black > a {
        font-size: 12px;
    }

    .esd .pro-price > span {
        font-size: 10px !important;
    }

    .faq-li.boxes {
        display: flex;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .faq-li.boxes > div > * {
        margin-left: 0px;
    }

    .trending-products2b .tred-pro {
        height: 150px;
        width: 150px;
    }

    .div_6tg40f {
        width: 100% !important;
    }

    .hevy {
        width: 100px;
    }

}